@import "semantic-ui";

body {
  background-color: #DADADA;
}

.chatbox {
  height: 450px;
}

.colored {
  color: #2D8EFF;
}

.coloredRED {
  color: red
}

.boldT {
  font-weight: bold;
  font-style: italic;
}

 .borderD {
  outline: none;
   border: 0 none !important;
   box-shadow: none;
 }

 .CC {
   text-align: center;
 }